.wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 180px 0 80px;
  border-left: 1px solid rgba(66, 86, 122, 0.1);
  border-right: 1px solid rgba(66, 86, 122, 0.1);

  &:after,
  &:before {
    content: "";
    display: block;
    background-color: var(--primary-color);
    position: absolute;
    opacity: 0.1;
  }
  &:before {
    height: 100%;
    width: 1px;
    left: 50%;
    top: 0;
  }

  &:after {
    top: 44%;
    left: 0;
    width: 100%;
    height: 1px;
  }
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 66px;
  pointer-events: none;
  position: relative;
  left: -60px;
}

.year {
  font-size: 200px;
  font-weight: bold;
  margin: 0;

  &:first-child {
    color: var(--info-color)
  }

  &:last-child {
    color: var(--success-color);
    margin-left: 88px;
  }
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -61%);
  z-index: 2;
}

.title {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  margin: 170px 0 0 0;
  width: 100%;
  max-width: 350px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -80px;
    width: 4px;
    height: 120px;
    background: linear-gradient(180deg, var(--primary-title-color), var(--success-color));
  }
}

.period {
  margin-bottom: 56px;
}

.container {
  margin-top: 104px;
}

@media screen and (width < 1440px) {
  .wrap {
    padding: 0 120px 0 80px;
  }

  .wrapper {
    left: 0;
  }
}

@media screen and (width < 1366px) {
  .wrap {
    padding: 0 80px 0 80px;
    margin: 0 20px;
  }
}

@media screen and (width < 1200px) {
  .year {
    font-size: 150px;
  }
  .wrapper {
    justify-content: space-between;
  }
}

@media screen and (width < 950px) {
  .year {
    font-size: 120px;
  }
}

@media screen and (width < 770px) {
  .title {
    font-size: 36px;
    max-width: 200px;

    &:before {
      left: -40px;
    }
  }

  .year {
    font-size: 110px;

    &:last-child {
      margin-left: 20px;
    }
  }

  .wrap {
    padding: 0 40px 0 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
  }

  .period {
    order: 2;
  }
}

@media screen and (width < 640px) {
  .year {
    font-size: 80px;

    &:last-child {
      margin-left: 10px;
    }
  }

  .container {
    margin-top: 75px;
  }
}

@media screen and (width < 590px) {
  .circle {
    display: none;
  }

  .wrap {
    &:before {
      display: none;
    }
  }
}

@media screen and (width < 520px) {
  .year {
    font-size: 56px;

    &:last-child {
      margin-left: 10px;
    }
  }

  .wrap {
    margin: 0;
    padding: 0 20px;

    &:after {
      top: 280px;
    }
  }

  .wrapper {
    margin-top: 56px;
  }

  .title {
    font-size: 20px;
    max-width: 150px;
    margin-top: 60px;

    &:before {
      display: none;
    }
  }
}

