.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.label {
  font-size: 14px;
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(66, 86, 122, 0.5);
  cursor: pointer;
  background-color: var(--white-color);

  &:first-child{
    margin-right: 20px;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: transparent;
  }
}
